<mat-card>
  <mat-card-title>Login</mat-card-title>
  <mat-card-content>
    <form name="loginForm" [formGroup]="loginForm" (ngSubmit)="submit()">
      <p>
        <mat-form-field>
          <input
            type="text"
            matInput
            placeholder="Username - admin"
            formControlName="username"
            required
          />
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <input
            type="password"
            matInput
            placeholder="Password - admin123"
            formControlName="password"
            required
          />
        </mat-form-field>
      </p>

      <div class="button">
        <button type="submit" mat-button>Login</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
