table {
  width: 100%;
}
th.mat-sort-header-sorted {
  color: black;
}

.p-10 {
  padding: 10px;
}

.tb-row:hover {
  background-color: #e8eaf6;
}

.p-0 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.m-0 {
  margin: 0;
}

.action:hover {
  cursor: pointer;
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
}

mat-table {
  width: 1200px;
  max-width: 1200px;
  margin-bottom: 1rem;
  display: table;
  border-collapse: collapse;
  margin: 0px;
}

mat-row,
mat-header-row {
  display: table-row;
}
mat-cell,
mat-header-cell {
  word-wrap: initial;
  display: table-cell;
  padding: 0px 5px;
  line-break: unset;
  width: auto;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
}
