<mat-card>
  <button mat-button color="primary" [routerLink]="['/employee']">
    <mat-icon>arrow_back</mat-icon>
    Back to List Employee
  </button>
  <mat-card-content>
    <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
      <div>
        <mat-form-field>
          <input
            matInput
            type="text"
            id="username"
            formControlName="username"
            placeholder="Username"
          />
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <input
            matInput
            type="text"
            id="firstName"
            formControlName="firstName"
            placeholder="First Name"
          />
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <input
            matInput
            type="text"
            id="lastName"
            formControlName="lastName"
            placeholder="Last Name"
          />
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <input
            matInput
            type="email"
            id="email"
            formControlName="email"
            placeholder="Email"
          />
          @if (
            employeeForm.get("email")?.invalid &&
            employeeForm.get("email")?.touched
          ) {
            <mat-hint>
              @if (employeeForm.get("email")?.errors?.["required"]) {
                <span>Email is required</span>
              }
              @if (employeeForm.get("email")?.errors?.["email"]) {
                <span>Invalid email format</span>
              }
            </mat-hint>
          }
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>Birth Date</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            id="birthDate"
            formControlName="birthDate"
          />
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <input
            matInput
            type="number"
            id="basicSalary"
            formControlName="basicSalary"
            placeholder="Basic Salary"
          />
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <mat-select id="status" formControlName="status">
            <mat-option value="active">Active</mat-option>
            <mat-option value="inactive">Inactive</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <mat-select id="group" formControlName="group">
            @for (g of group; track g) {
              <mat-option [value]="g">
                {{ g }}
              </mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <mat-label>Description</mat-label>
          <input
            matInput
            [matDatepicker]="picker2"
            id="description"
            formControlName="description"
          />
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker2"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
      </div>

      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="!employeeForm.valid"
      >
        Add Employee
      </button>
    </form>
  </mat-card-content>
</mat-card>
